{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block content %}
        <div class="child child4">
            <h3 class="m-2">Add New Employee Page</h3>
        </div>

        <div class="child child6left">
            <div class="circledivleft">
                <div class="circleleft">
                </div>
              </div>
        </div>

        <div class="child child6 container" style="color:rgb(0, 75, 93);">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('employeedashboard')}}" style=" background-color:rgb(0, 75, 93); color:whitesmoke;">View All Employee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style=" background-color:rgb(6, 134, 165); color:whitesmoke;" href="{{ url_for('employeenew')}}">Add New Employee</a>
                </li>
              </ul>

              <div class="table-responsive-lg caption-top">
                <caption><h3>ADD NEW EMPLOYEES</h3></caption>
                <hr>
                <form class="p-3" action="/employeenew", method="POST">
                    <div class="mb-2">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-2">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-2">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                      </div>
                      <div class="mb-2">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address">
                      </div>
                    <button type="submit" class="btn text-light m-3" style="background-color:rgb(0, 75, 93);">Add Employee</button>
                  </form>
              </div>
        </div>

        <div class="child child6right">
            <div class="circledivright">
                <div class="circleright">
                </div>
            </div>
        </div>
 
        </div>

{%endblock%}
</body>
</html>