{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block content %}

        <div class="child child4">
            <h3 class="m-2">Registration Page</h3>
        </div>

        <div class="child child6 container" style="color:rgb(0, 75, 93);">
          <h3>Sign Up Form</h3>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <h5 style="color: rgb(171, 7, 7)">{{ message }}</h5>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
          <hr>
          <form class="p-3" action="/register" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address / Username</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{name}}">
              <div id="emailHelp" class="form-text" style="color:rgb(0, 75, 93);">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" value="{{password}}">
            </div>

            <div class="mb-3">
              <input type="checkbox" id="myCheck" onclick="showEmpidField()">
              <label for="myCheck"> I am an employee</label>
            </div>

            <div class="mb-3" id="text" style="display: none;">
              <label for="empid" class="form-label">Employee ID</label>
              <input type="text" name="empid" class="form-control" id="empid" value="{{empid}}">
            </div>

            <button type="submit" class="btn text-light" style="background-color:rgb(0, 75, 93);">Register</button>
          </form>
        </div>
      </div>

 {% endblock %}