{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block content %}
<style>.project_list:before{content: "-" !important;}</style>
        <div class="child child4">
          <h3 class="m-2" style="margin: 5% !important; text-align: center">USER PROFILE PAGE</h3>
      </div>

        <div class="child child6 container">
            <div class="centercontent">
                <div class="card">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/static/1.jpg" onerror="this.onerror=null; this.src='/static/default.jpg'" class="img-fluid rounded-start" alt="employee image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h3 class="card-title">My profile</h3>
                          {% if user_cur %}
                            <ul class="list-group list-group-numbered">
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Username: {{user_cur['name']}}</div>
                                </div>
                              </li>
                           
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Password: ******</div>
                                </div>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Account created on: {{user_cur['creation_date']}}</div>
                                </div>
                              </li>
                            {% if user_cur['empid'] %}
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">Employee id: {{user_cur['empid']}}</div>
                                </div>
                              </li>
                            {% endif %}
                            </ul>
                        {% endif %}
                        
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      {% endblock %}